@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

/* Color schemes */

body {
    background-color: var(--color-scroll-text);
   
}
.demo-2 {
	--color-text: #ddedf3;
	--color-bg: linear-gradient(145deg, #060707, #02020a) fixed;
	--color-link: #050505;
	--color-link-hover: #103ac5;
	--color-info: #322b92;
	--color-main-text: #ddedf3;
	--color-scroll-text: #2b6ce4;
	--font-scroll-text: 'Nanum Gothic Coding', monospace;
	--fontsize-scroll-text: 8vw;
}
.content__main {
	color: var(--color-main-text);
}